<div class="sg-doc-space">
  <h2>Paragraph</h2>
  <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
</div>

<div class="sg-doc-space">
  <h2>Headings</h2>
  <h1>Heading Level One</h1>
  <h2>Heading Level Two</h2>
  <h3>Heading Level Three</h3>
  <h4>Heading Level Four</h4>
</div>

<div class="sg-doc-space">
  <h2>Inline Elements</h2>
  <div class="text">
    <p><a href="#">This is a text link</a></p>
    <p><strong>Strong is used to indicate strong importance</strong></p>
    <p><em>This text has added emphasis</em></p>
    <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>
    <p>The <i>i element</i> is text that is set off from the normal text</p>
    <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>
    <p>
      <del>This text is deleted</del>
      and
      <ins>This text is inserted</ins>
    </p>
    <p><s>This text has a strikethrough</s></p>
    <p>Superscript<sup>®</sup></p>
    <p>Subscript for things like H<sub>2</sub>O</p>
    <p><small>This small text is small for for fine print, etc.</small></p>
    <p>Abbreviation:
      <abbr title="HyperText Markup Language">HTML</abbr>
    </p>
    <p>Keybord input:<kbd>Cmd</kbd></p>
    <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
    <p><cite>This is a citation</cite></p>
    <p>The
      <dfn>dfn element</dfn>
      indicates a definition.
    </p>
    <p>The
      <mark>mark element</mark>
      indicates a highlight
    </p>
    <p><code>This is what inline code looks like.</code></p>
    <p><samp>This is sample output from a computer program</samp></p>
    <p>The
      <var>variarble element</var>
      , such as
      <var>x</var>
      =
      <var>y</var>
    </p>
  </div>
</div>
