<div class="sg-doc-space">
  <table class="sg-table sg-util-visibility-classes js-util-visibility-classes"></table>

  <h2>Assistive Text</h2>
  <p>You can see me but you can't <span class="visibility-assistive-text">see me</span>.</p>
  <p>Use the <code>.visibility-assistive-text</code> class to enable a screen reader to read text that is hidden. This class is typically used to accompany icons and other UI elements that show an image instead of text.</p>
</div>
