<div class="global-header">
  <div class="global-header__container">
    <div class="global-header__primary">
      <div class="global-header__brand">
        <a class="link" href="javascript:;">
          {{ render '@brand' }}
        </a>
      </div>

      <div class="global-header__nav">
        {{render '@menu--horizontal'}}
      </div>
    </div>
  </div>
</div>