<div class="media-object{{#each modifiers}} media-object--{{this}}{{/each}}">
  <div class="media-object__figure">
    {{{figure}}}
  </div>
  <div class="media-object__content">
    <h2 class="media-object__headline">{{headline}}</h2>
    <p class="media-object__text">{{text}}</p>
  </div>
</div>
