<div class="info {{#each modifiers}} info--{{this}}{{/each}}">
  <div class="info__label">{{label}}</div>
  <div class="info__content">{{{content}}}{{#if alwaysShowLabel}} <span class="info__repeated-label">{{label}}</span>{{/if}}</div>
</div>
