<div class="form-element">
    <div class="form-element__control">
      <span class="checkbox">
        <input type="checkbox" id="checkbox-{{id}}" name="{{formName}}" disabled {{#if checked}}checked{{/if}}>
        <label class="checkbox__label" for="checkbox-{{id}}">
          <span class="checkbox--faux"></span>
          <span class="form-element__label">{{label}}</span>
        </label>
      </span>
    </div>
</div>
