<div class="popover {{#if modifier}} popover--{{modifier}}{{/if}}" data-popover>
  <div class="popover__target">
    {{> '@link' target}}
  </div>
  <div class="popover__content">
    {{content}}
  </div>
</div>
