<div class="form-element">
  <label class="form-element__label" for="select-{{id}}">{{label}}</label>
  <div class="form-element__control">
    <select id="select-{{id}}" class="select" multiple>
      {{> @select-options}}
    </select>
  </div>
</div>
