<div class="form-element">
  <label class="form-element__label" for="select-{{id}}">{{label}}</label>
  <div class="form-element__control">
    <div class="select__container">
      <select id="select-{{id}}" class="select">
        {{> @select-options}}
      </select>
    </div>
  </div>
</div>
