  </div> {{!-- .sg-wrapper --}}
  <script src="{{ path '/js/ui.bundle.js' }}"></script>
  <script src="{{ path '/js/styleguide.bundle.js' }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
</body>
</html>
