<div class="form-element is-required">
  <label class="form-element__label" {{#if id}}for="textarea-input-{{id}}"{{/if}}>
    <abbr class="required" title="required">*</abbr> {{label}}
  </label>
  <div class="form-element__control">
    <textarea {{#if id}}id="textarea-input-{{id}}"{{/if}} class="textarea" placeholder="{{placeholderText}}"></textarea>
  </div>
</div>
