<div class="form-element">
  <label class="form-element__label" {{#if id}}for="textarea-input-{{id}}"{{/if}}>{{label}}</label>
  <div class="form-element__control">
    <textarea {{#if id}}id="textarea-input-{{id}}"{{/if}} class="textarea" placeholder="{{placeholderText}}" disabled></textarea>
  </div>
</div>
